{% extends 'main.html' %}
{% load static%}

{% block content %}
<script src="https://kit.fontawesome.com/c940cf0420.js" crossorigin="anonymous"></script>

<div class="container card">
    <h1>Candidates applied</h1>
    <div class="card-body">
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>DOB</th>
                <th>Resume</th>
                <th>Gender</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            {% for c in candidates %}
                <tr>
                    <td>{{c.name}}</td>
                    <td>{{c.dob}}</td>
                    {% if c.resume %}
                    <td><a href='{{c.resume.url}}' download >{{c.resume}}</td></a></td>
                    {% else %}
                    <td>Not submitted</td>
                    {% endif %}
                    <td>{{c.gender}}</td>
                    <td>{{c.mobile}}</td>
                    <td>{{c.email}}</td>
                    <td><a href="{% url 'delete' c.pk %}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}