<!DOCTYPE html>
<html>

<head>
    <title>Chart</title>
    <style>
        h1{
            padding-bottom: 10px;
            margin: 50px;
            border-bottom: 2px solid orangered;
        }
        p{
            text-align: center;
            font-family: monospace;
            font-size: 20px;
        }
    </style>
</head>
<body>
    {% if salary %}
    <h1>Salary Chart</h1>
    {% else %}
    <h1>Candidate Chart</h1>
    {% endif  %}
    <div style="text-align: center;">
        <img src="data:image/png;base64,{{ image }}" />
    </div>
    {% if salary %}
    <p>This is a bar chart demonstrating the salaries provided by each company.</p>
    {% else %}
    <p>This is a pie chart demonstrating the number of candidates applied in each company.</p>
    {% endif  %}
</body>
</html>